<p class="bio">
  Josh is a 
  <a href="http://gatewaypeople.com/profiles/josh-ferrara" target="_blank" title="Director of Interactive Technology — Gateway Church">technology guy</a>, 
  creative, 
  <a href="https://flickr.com/joshferrara" target="_blank" title="A few of my photos">amateur photographer</a>, 
  helpless foodie, 
  <a href="https://goodreads.com/joshferrara">avid reader</a>, 
  <a href="http://lsu.edu" target="_blank" title="Geaux Tigers!">LSU grad</a>, 
  musician, 
  <a href="https://instagram.com/gabibob" target="_blank" title="She really is my better half">husband</a>, 
  soon-to-be dad, 
  and <a href="https://instagram.com/pixelferrara" target="_blank" title="Our furry first-born">dog owner</a>.
  He lives in <a href="http://www.visitdallas.com/things-to-do/dallas-neighborhoods/far-west-dallas/grapevine.html" target="_blank" title="Outside of Dallas, actually. Grapevine to be exact.">Dallas, Texas</a>.
</p>