<p class="bio">
  Josh is a 
  <a href="https://instagram.com/itsgabiferrara" target="_blank" title="She really is my better half">husband</a>, 
  dad, 
  <a href="http://letsmake.com" target="_blank" title="Make: A digital studio making world-class products, platforms and systems">product strategist</a>, 
  <a href="https://flickr.com/joshferrara" target="_blank" title="A few of my photos">amateur photographer</a>, 
  foodie, 
  <a href="https://www.goodreads.com/user/show/53614472-josh-ferrara" title="I always forget to update this...">reader</a>, 
  musician, 
  <a href="https://instagram.com/pixelferrara" target="_blank" title="Our furry first-born">dog owner</a>, 
  and 
  <a href="http://lsu.edu" target="_blank" title="Geaux Tigers">LSU grad</a>. 
  He lives in <a href="https://www.visitbatonrouge.com" target="_blank" title="Come visit!">Baton Rouge, Louisiana</a>.
</p>
