<div class="icons">

  <a href="https://twitter.com/joshbob" class="fa-stack" target="_blank" title="Twitter"> 
    <i class="fa fa-twitter fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://facebook.com/joshferrara" class="fa-stack" target="_blank" title="Facebook"> 
    <i class="fa fa-facebook fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://instagram.com/joshbob" class="fa-stack" target="_blank" title="Instagram"> 
    <i class="fa fa-instagram fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://snapchat.com/add/joshb0b" class="fa-stack" target="_blank" title="Snapchat"> 
    <i class="fa fa-snapchat-ghost fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://foursquare.com/joshbob" class="fa-stack" target="_blank" title="Foursquare"> 
    <i class="fa fa-foursquare fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://github.com/joshferrara" class="fa-stack" target="_blank" title="GitHub (Code)"> 
    <i class="fa fa-github fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://medium.com/@joshbob" class="fa-stack" target="_blank" title="Medium (Blog)"> 
    <i class="fa fa-medium fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://open.spotify.com/user/12702944" class="fa-stack" target="_blank" title="Spotify (Music)"> 
    <i class="fa fa-spotify fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://youtube.com/thejoshferrara" class="fa-stack" target="_blank" title="YouTube (Vlog)"> 
    <i class="fa fa-youtube fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://flickr.com/joshferrara" class="fa-stack" target="_blank" title="Flickr (Photos)"> 
    <i class="fa fa-flickr fa-stack-1x fa-2x"></i>
  </a>

</div>
