<div class="icons">

  <a href="https://twitter.com/joshferrara" class="fa-stack" target="_blank" title="Twitter"> 
    <i class="fab fa-twitter fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://facebook.com/joshferrara" class="fa-stack" target="_blank" title="Facebook"> 
    <i class="fab fa-facebook-square fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://instagram.com/joshferrara" class="fa-stack" target="_blank" title="Instagram"> 
    <i class="fab fa-instagram fa-stack-1x fa-2x"></i>
  </a> 

  <!-- <a href="https://foursquare.com/joshbob" class="fa-stack" target="_blank" title="Foursquare"> 
    <i class="fab fa-foursquare fa-stack-1x fa-2x"></i>
  </a> -->

  <a href="https://www.threads.net/@joshferrara" class="fa-stack" target="_blank" title="Threads"> 
    <i class="fab fa-threads fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://github.com/joshferrara" class="fa-stack" target="_blank" title="GitHub (Code)"> 
    <i class="fab fa-github fa-stack-1x fa-2x"></i>
  </a>

  <!-- <a href="https://medium.com/@joshferrara" class="fa-stack" target="_blank" title="Medium (Blog)"> 
    <i class="fab fa-medium fa-stack-1x fa-2x"></i>
  </a> -->

  <a href="https://letterboxd.com/joshferrara" class="fa-stack" target="_blank" title="Medium (Blog)"> 
    <i class="fab fa-letterboxd fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://open.spotify.com/user/12702944" class="fa-stack" target="_blank" title="Spotify (Music)"> 
    <i class="fab fa-spotify fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://youtube.com/joshferrara" class="fa-stack" target="_blank" title="YouTube (Vlog)"> 
    <i class="fab fa-youtube fa-stack-1x fa-2x"></i>
  </a>

  <a href="https://flickr.com/joshferrara" class="fa-stack" target="_blank" title="Flickr (Photos)"> 
    <i class="fab fa-flickr fa-stack-1x fa-2x"></i>
  </a>
  
  <a href="http://lists.joshferrara.com" class="fa-stack" target="_blank" title="List of Lists"> 
    <i class="fas fa-list fa-stack-1x fa-2x"></i>
  </a>

</div>
