---
---
// Reset -------------------------------------
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for old browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #d5e8d4;
	background-image:
		repeating-linear-gradient(
			45deg,
			transparent,
			transparent 8px,
			rgba(40, 100, 50, 0.08) 8px,
			rgba(40, 100, 50, 0.08) 9px
		),
		repeating-linear-gradient(
			-45deg,
			transparent,
			transparent 8px,
			rgba(40, 100, 50, 0.08) 8px,
			rgba(40, 100, 50, 0.08) 9px
		);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


// SCSS Magic ---------------------------
@mixin transition($time) {
    -webkit-transition: all $time ease;
    -moz-transition: all $time ease;
    -o-transition: all $time ease; 
    -ms-transition: all $time ease;
    transition: all $time ease;
}


// Headshot ------------------------------

a.headshot {
  display: block;
  margin: 50px auto 25px;
  width: 100px;
  height: 100px;
  background: url("../images/me.png");
  background-size: 100px;
  text-indent: -99999px;
  border-radius: 60px;
  border: 5px solid #eeeeee;

  @include transition(0.5s);

	&:hover {
		border-color: #cccccc;
	}
}


// Name -----------------------------------

h1.name {
	display: block;
	text-align: center;
	font-family: 'mrs-eaves', serif;
	letter-spacing: -2px;
	font-size: 60px;
  margin-bottom: 25px;

	a {
		text-decoration: none;
		color: #555555;

		@include transition(0.5s);

		&:hover {
			color: #000000;
		}
	}
}
	

// Bio -----------------------------------

p.bio {
  display: block;
  max-width: 490px;
  margin: 0 auto 25px;
  font-family: 'mr-eaves-sans', sans-serif;
  text-align: center;
  line-height: 1.5;
  padding: 0 20px;
  font-size: 1em;

  a {
  	color: inherit;
  	text-decoration: none;
  	white-space: nowrap;
    // border-bottom: 1px solid #eee;
    background: #f7f7f7;
    padding: .1rem .25rem;

    @include transition(0.5s);

    &:hover {
    	background: #eeeeee;
    }
  }
}


// Icons ----------------------------------

div.icons {
  display: block;
  max-width: 570px;
  margin: 0 auto;
  padding: 0 20px;

  a.fa-stack {
    color: #ffffff;
    width: 3em;
    height: 3em;
    line-height: 3em;
    margin-right: 6px;
    margin-bottom: 9px;

    &:last-child {
      margin-right: 0px;
    }

    i {
      background: #444444;

      @include transition(0.5s);
    }

    &:hover i {
      background: #000000;
    }
  }
  
  [class*=hint--]:before {
    border-bottom-color: #444444;
  }

  [class*=hint--]:after {
    box-shadow: none;
    border: 1px solid #444444;
    background: #ffffff;
    color: #444444;
    text-shadow: none;
    font-family: 'mr-eaves-sans', sans-serif;
  }
}


// Content ------------------------------------

.content {
  max-width: 570px;
  display: block;
  margin: 25px auto;
  font-family: 'Open Sans', sans-serif;
  padding: 0 10px;

  .post {
    .byline {
      margin-bottom: 15px;
      display: block;

      h2.title {
        font-family: 'mrs-eaves', serif;
        font-size: 30px;
        float: left;
        letter-spacing: -2px;

        a {
          text-decoration: none;
          color: #555555;
        }
      }
      .date {
        float: right;
        font-family: 'mr-eaves-sans', sans-serif;
        color: #ccc;
        font-size: 20px;
        text-transform: lowercase;
        margin-top: 7px;
      }
    }

    p {
      color: #555555;
      font-size: 14px;
      margin-bottom: 15px;
      line-height: 1.5;

      a {
        color: #999999;
      }

      img {
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 auto;
      }
    }
    h3 {
      font-family: 'mrs-eaves', serif;
      font-size: 26px;
      letter-spacing: -2px;
      padding: 10px 0;
      color: #555555;

      a {
        text-decoration: none;
        color: #555555;
      }
    }
    ol {
      list-style: decimal;
      padding: 0 0 15px 30px;
    }
    li {
      line-height: 1.5em;
      color: #444444;
    }
  }

  .PageNavigation {
    display: block;
    height: 70px;   

    a {
      width: 48%;
      display: block;
      color: #777;
      padding: 9px 0px;
      margin: 15px 0;
      text-decoration: none;

      &.prev {
        float: left;
        text-align: left;
      }

      &.next {
        float: right;
        text-align: right;
      }
    }
  }
}


// Contact ------------------------------------

a.contact {
  display: block;
  background: #f7f7f7;
  margin: 25px auto;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 5px 10px;
  color: #444444;
  font-family: 'mr-eaves-sans', sans-serif;

  @include transition(0.5s);

  &:hover {
    background: #eeeeee;
  }
}


// Projects Page --------------------------------

.projects-page {
  max-width: 570px;
  display: block;
  margin: 25px auto;
  padding: 0 10px;

  .projects-section-title {
    font-family: 'mrs-eaves', serif;
    font-size: 30px;
    letter-spacing: -2px;
    color: #555555;
    margin-bottom: 15px;
    text-align: center;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 35px;
  }

  .project-card {
    display: block;
    text-decoration: none;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 20px 15px;
    text-align: center;

    @include transition(0.3s);

    &:hover {
      background: #eeeeee;

      .project-icon i {
        background: #000000;
      }
    }

    .project-icon {
      margin-bottom: 10px;

      i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #444444;
        color: #ffffff;
        font-size: 16px;

        @include transition(0.3s);
      }
    }

    .project-title {
      font-family: 'mrs-eaves', serif;
      font-size: 20px;
      letter-spacing: -1px;
      color: #555555;
      margin-bottom: 4px;
    }

    .project-subtitle {
      font-family: 'mr-eaves-sans', sans-serif;
      font-size: 13px;
      color: #999999;
      line-height: 1.3;
    }
  }
}


// Media Queries -----------------------------

@media only screen and
(min-width : 331px) and
(max-width : 620px) {
  p.bio {
    font-size: 1.2em;
  }
  div.icons {
    max-width: 286px;
  }
  .projects-page .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and
(max-width : 330px) {
  p.bio {
    font-size: 1.2em;
  }
  div.icons {
    max-width: 162px;
    font-size: 1.5em;
  }
  .projects-page .projects-grid {
    grid-template-columns: 1fr;
  }
}


// Dark Mode ------------------------------

@media (prefers-color-scheme: dark) {
  
  body {
    background-color: #1a2e1a;
    background-image:
      repeating-linear-gradient(
        45deg,
        transparent,
        transparent 8px,
        rgba(100, 180, 100, 0.06) 8px,
        rgba(100, 180, 100, 0.06) 9px
      ),
      repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 8px,
        rgba(100, 180, 100, 0.06) 8px,
        rgba(100, 180, 100, 0.06) 9px
      );

    h1.name {

      a {
        color: #eeeeee;

        &:hover {
          color: #555555;
        }
      }
    }

    p.bio {
      color: #eeeeee;

      a {
        background: #444444;

        &:hover {
          background: #777777;
        }
      }
    }

    a.contact {
      color: #eeeeee;
      background: #444444;

      &:hover {
        background: #777777;
      }
    }

    div.icons {

      a.fa-stack {

        &:hover {

          i {
            background: #777777;
          }
        }
      }
    }

    .projects-page {

      .projects-section-title {
        color: #eeeeee;
      }

      .project-card {
        background: #333333;

        &:hover {
          background: #444444;

          .project-icon i {
            background: #777777;
          }
        }

        .project-title {
          color: #eeeeee;
        }

        .project-subtitle {
          color: #999999;
        }
      }
    }
  }

}


// Global ---------------------------------

	.clear { clear: both; }
	.left { float: left; }
	.right { float: right; }

	.alignleft { float: left; }
	.alignright { float: right; }
