<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include head.html %}
  <body class="home">
    {% include headshot.html %}
    {% if page.title == "Home" %}
      {% include name.html %}
      {% include bio.html %}
    {% endif %}
    {% include icons.html %}
    {{ content }}
    {% include contact.html %}
    {% include analytics.html %}
    <a rel="me" href="https://mastodon.social/@joshferrara" style="display:none;">Mastodon</a>
  </body>
</html>
