---
layout: default
---

<div class="content">
  <div class="post">
    <span class="byline">
      <h2 class="title"><a href="{{ post.url }}">{{ page.title }}</a></h2>
      <span class="date">{{ page.date | date: "%b %d %Y"}}</span>
      <div class="clear"></div>
    </span>
    {{ content }}
  </div> <!-- close:  post -->
  
  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div> <!-- Page navigation -->
  
</div>
